<!--views/partials/brandbar.ejs-->

<header class="app-header">
  <div class="container topbar">
    <h1 class="brand"><a class="brand-link" href="/">CSE Motors</a></h1>
    <a class="account" href="/account">My Account</a>   <!-- absolute path -->
  </div>
</header>

