<!-- views/partials/navigation.ejs -->
<nav class="main-nav">
  <div class="container">
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Custom</a></li>
      <li><a href="#">Sedan</a></li>
      <li><a href="#">SUV</a></li>
      <li><a href="#">Truck</a></li>
    </ul>
  </div>
</nav>

